body {
    font-family: 'Cardo', serif;
    background-color: #484d5c;
    color: #c0ccd4;
    font-size: 1em;
    height: 100vh;
    margin:0;
    display:flex;
    flex-direction: column;
   }
   
   h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #ffce00;
   }
 .formInput, .formInput:focus {
     background-color:#c0ccd4;
     color: #484d5c;
     border-bottom: solid 2px #ffce00;
 }

.btn {
background-color: #ffce00;
border:none;
color: #484d5c;
}

.title{
    display: flex;
    justify-content: center;
}
.navbar, footer {
    background-color: #c0ccd4 !important;
}
.nav-link, .navbar-brand, footer{
    color: #484d5c !important;
}
.form-check-input, .form-check-input:checked {
    background-color: #c0ccd4;
    border-bottom: solid 2px #ffce00;
}

footer{
    margin-top: auto;
    font-size: 16px;
}