main {
    background-color: #c0ccd4;
    color: black;
}
main h1, h2, h3, h4, h5, h6 {
    color: #484d5c !important;
}
/*social */
/* .card1-one {
    position: relative;
    width: 300px;
    background: #c0ccd4;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
    padding: 10px
} */
.card1 {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
    padding: 10px;
    border-radius: 5px;
} 

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: 70%;
    margin: auto;
    margin-top: -100px;
}

.social-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #c0ccd4;
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}


.text-blue {
    color: #484d5c;
}

ul.team-list {
    margin: 0;
    padding: 0;
}

ul.team-list li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

ul.team-list li:hover {
    background: rgba(0, 0, 0, .1);
    cursor: pointer;
}

ul.team-list .left img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

ul.team-list li {
    padding: 10px;
}

ul.team-list .right h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

ul.team-list .right p {
    font-size: 11px;
    color: #6c757d;
    margin: 0;
}

.social-timeline-card1 .dropdown-toggle::after {
    display: none;
}

.card1-one h3 {
    position: relative;
    margin: 80px 0 30px;
    text-align: center;
}

.card1-one h3::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 1px;
    background: #000;
}

.card1-one .desc {
    padding: 0 1rem 2rem;
    text-align: center;
    line-height: 1.5;
    color: #777;
}

.card1-one .contacts {
    width: 200px;
    max-width: 100%;
    margin: 0 auto 3rem;
}

.card1-one .contacts a {
    display: block;
    width: 33.333333%;
    float: left;
    text-align: center;
    color: #c8c;
}

.card1-one .contacts a:hover {
    color: #333;
}

.card1-one .contacts a:hover .fa::before {
    color: #484d5c;
}

.card1-one .contacts a:hover .fa::after {
    width: 100%;
    height: 100%;
}

.card1-one .contacts a .fa {
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 39px;
    overflow: hidden;
    text-align: center;
    font-size: 1.3em;
}

.card1-one .contacts a .fa:before {
    position: relative;
    z-index: 1;
}

.card1-one .contacts a .fa::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #c8c;
    transition: width .3s, height .3s;
}

.card1-one .contacts a:last-of-type .fa {
    line-height: 36px;
}

.card1-one .footer {
    position: relative;
    padding: 1rem;
    background-color: #ffce00;
    text-align: center;
}

.card1-one .footer a {
    padding: 0 1rem;
    color: #e2e2e2;
    transition: color .4s;
}

.card1-one .footer a:hover {
    color: #c8c;
}

.card1-one .footer::before {
    content: '';
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -15px;
    border: 15px solid transparent;
    border-bottom-color: #ffce00;
}

.card1-title, .card1 .card1-title, .card1-2 .card1-title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
a {
    color: #333;
}
.badge {
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: normal;
}

.badge-primary {
    color: #447de8;
    background-color: #e6edff;
}
.badge {
    display: inline-block;
    padding: .4em .5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/*end social*/

.eskudo-image img {
    width: 20px;
    height: 20px;
    margin: 10px;
}

.image-checked {
    background-color:#484d5c;
    border-radius: 10px;
    margin: 5px;
}

.eskudo-input {
    visibility: hidden;
    position: absolute;
    padding: 5px;
}